

*{
    border: 0px solid orangered;

}

.no-visible{
    visibility: hidden;
}


.imagen{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    clip-path: ellipse();
    margin-right: 0.5rem;

}

.nav-item a{
    color: rgb(99, 82, 82);
}
.container{

    border: 0px solid gold;
}

.novo{

    border: 0px solid black;
    width: 60%;
    height: 100;
    display: grid;
    justify-content: center;
}

#border table{
    text-align: center;
margin: 40px auto;
font-size: 1.25em;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;

}

boderr,table,
th,
td {

    border-collapse: collapse;
    padding: 6px;
    text-align: center;
    margin-left: 30px;

}


.new{
    width: 100%;
   display: flex;
   justify-content: space-around;
}

.buttons{
  padding-top: 32px;

}

.col-md-5 {
    margin-right: 520px;
}

.space{

    margin-left: 350px;

}
